

@font-face{
	font-family: "Merriweather";
	font-weight: light, bold, regular, black;
	font-style: normal, italic;
	src:url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,900,900i&display=swap&subset=cyrillic" rel="stylesheet")
}
$backgroundColor:  rgba(255,187,115, 0.2);
$textColor:#5e3101;
$brightButtonColor: #FF5D40;
$buttonBorderColor: #FF8973;
$yellowBasketColor:#FFBB73;

html,
body,
ul,
ol,
div,
aside,
main,
button,
nav,
select,
{
  margin:  0;
  padding: 0;
  font-family: "Merriweather";
}

ul{
	list-style: none;
}

body{
	   background-color:$backgroundColor;

}
.container{
   display: flex;
   flex-direction:column;
   width:94%;
   margin: auto;
   justify-content:space-between;
   box-sizing:border-box;

}

%header-shared{
	display: flex;
	width:100%;
	justify-content:flex-end;
	padding: 20px 0px;
	box-sizing:border-box;
	color:$textColor;
	 // border: 1px solid red;
}

.header-top{
    @extend %header-shared;
}

.arrow-up{
	width:60px;
	position: fixed;
	top:40px;
	right: 40px;
}

.logo{
	background-image:url("img/logo.png");
	width:80px;
	height:80px;
	background-position: 0 50%;
}
.header-top__login{
	height: 40px;
	position: relative;
	box-sizing:border-box;
	font-size: 24px;
	padding:0 40px;
	border-radius:5px;
	background-color: $brightButtonColor;
	border:1px solid $buttonBorderColor;
	color:white;
}



.header-top__login:before{
	content: " ";
	position: absolute;
	left:-65px;
	top:-1px;
	box-sizing:border-box;
	width:40px;
	height: 40px;
	// border: 1px solid green;
	background-image: url("img/facebook-logo.svg");
	background-size: cover;
}

.header-top__login:after{
	content: " ";
	position: absolute;
	left:-120px;
	top:-1px;
	box-sizing:border-box;
	width:40px;
	height: 40px;
	border: 1px solid green;
	background-image: url("img/vkontakte-logo.svg");

}

.header-bottom{
	 @extend %header-shared;
	align-items: flex-end;

}
.header-bottom__address{
	font-size: 18px;
	font-style: italic;
}

.basket{
	position: fixed;
	width:20%;
	bottom:0;
	right:40px;
	//border:20%;
	height: 100px;
	padding:20px;
	bottom: 0px;
	text-align: center;
    background-color: $yellowBasketColor;
	border:1px solid $yellowBasketColor;
	border-radius:5px;
	color:white;
	z-index: 2;
	box-sizing:border-box;

	a{
		color:$textColor;
		font-size: 20px;
		margin: 0;

	}
	p{
		color:$textColor;
		font-size: 20px;
		padding-bottom: 20px;
	}
}

#sections{
	display: flex;
	justify-content:space-around;
	width: 85%;
    flex-wrap:wrap;
    margin: auto;
    box-sizing:border-box;
   // border-radius:5px;
	opacity: 1	;
	border-bottom:1px solid $textColor;
	//position: fixed;
	//background-color: $yellowBasketColor;
	

	    	a{
    	padding:10px 20px;
    	display: inline-block;
		color:$textColor;
		text-decoration:underline;
    }
}

.sections__item{
	font-size: 22px;
	font-weight: bold;
}


.menu{
	display: flex;
	flex-wrap:wrap;
	width:90%;
	justify-content:flex-start;
	box-sizing:border-box;
	margin: auto;
	border-bottom:1px solid $textColor;
	align-content:flex-end;
}




.menu-section{
	font-size: 26px;
	text-align: center;
	width:90%;
	margin: 40px auto;
	box-sizing:border-box;
	color:$textColor	;
	// margin-left: 40px;
}

.menu-item{
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	padding: 20px;
	justify-content:space-between;
	background-color: white;
	margin-bottom: 40px;
	height: auto;
	width:280px;
	border-radius:5px;
	margin-left:30px;
}

.icons{
	align-self:flex-end;
}

.item-edit{
	width:20px;
}

.item-delete{
	width:20px;
		align-self:flex-end;	

}
.menu-item:last-child{
	align-self:stretch;
}

.menu-item__img{
	width:100%;
	height: 200px;
	border-radius:5px;
}

.menu-item__name{
	font-size: 20px;
	margin:0;
	font-weight: bold;
	color:$textColor;
	text-align: bottom;

}
.menu-item__price{
	color:#631903;
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}
.menu-item__description{
    width: 90%;
    font-style: italic;
    color:$textColor;
    p{
    	margin:0;
    }

}

.menu-item__order{
	font-size: 18px;
	padding: 10px;
	margin-top: 10px;
	border-radius:5px;
	background-color: $brightButtonColor;
	border:1px solid $buttonBorderColor;
	color:white;
}


.login-register{
	display: flex;
	flex-direction:column;
	width:45%;
	padding:20px;
	margin: auto;
    align-items:center;
    background-color: white;
    font-size: 18px;
    margin-bottom: 20px;
	border:1px solid $textColor;
	border-radius: 5px;
	color:$textColor;
	box-sizing:border-box;


    button{
    width:200px;
    display:block;
    margin: 20px auto 0px auto;
    height: 30px;
    font-size: 18px;
    border-radius:5px;
	background-color: $brightButtonColor;
	border:1px solid $buttonBorderColor;
	color:white;
    }
    

    input[type='text']{
    border:1px solid $textColor;
	border-radius: 5px;
}
   input[type='text'], label{
	display: block;
	margin: 10px;
	width:200px;
	height: 20px;
  
	}
	
}


.menu-item_change{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	border:1px solid $brightButtonColor;
	border-radius: 5px;
	width:45%;
	box-sizing:border-box;
	margin:200px auto;
	padding: 30px;
	background-color: white;
	color:$textColor;
	 .addPrice{
	 	font-style: italic;
	 	opacity: 0.8;
	 }

}

.menu-item__imgDesc_change{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.menu-item__img_change{
   width:40%;

}

.menu-item__name{
		margin:0;
	}



.menu-item__description_change{
	width:55%;

	display: flex;
	flex-direction:column;
	justify-content:space-between
}
.toppings p{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
.topping{
	display: flex;
	flex-wrap:wrap;
	label{
	display: block;
	width:200px;
	height: 40px;
	}
}


.ordersHistory{
  margin:50px auto 200px auto;
 // width:90%;
  padding: 0;
  color:$textColor;

 .select-css {
    display: block;
    font-size: 14px;
    color: $textColor;
    padding: 5px 10px 5px 0;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid $textColor;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255,187,115, 0.1);
    background-image: url('img/arrow-down.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 2% top 50%;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: $textColor;
}
.select-css:focus {
    border-color: $textColor;
    color: $textColor; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

  td{
  	padding: 10px;
  }

  td, th{
    border: 1px solid $textColor;
    padding-left:20px;
    box-sizing:border-box;

    }

  table{
  	margin: 0 auto;
  	padding: 0;
  	width: 80%;
  	border-spacing:0;
  	border-collapse: separate;
  	border: 2px solid $textColor;
  	border-radius: 5px;
  	box-sizing:border-box;
  //	max-width: 100%;
  
    caption{
   		align:center;
   		font-size: 24px;	
   		margin-bottom: 20px
 		 }
	}
}

.personal{
	color:$textColor;

	table{
		border-collapse: separate;
		border-spacing:0;
		border: 2px solid $textColor;
		border-radius: 5px;
		width:80%;
		box-sizing:border-box;
		margin:auto;

	}
	td{
		border: 1px solid $textColor;
		padding: 10px;
	}
	caption{
		align:center;
   		font-size: 24px;	
   		margin-bottom: 20px
 		 
	}
}


.order{
	color:$textColor;
	margin: 100px auto;
	width:50%;
	border:2px solid $textColor;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	//background-color: $backgroundCol

	.picnic{
		width:140px;
		position: absolute;		
		top:40px;
		right: 40px;
	}
	h3{
		margin:20px
	}
	h1{
		text-align: left;
		margin-left: 20px;
	}
	label,p, input[type='text'],textarea {
		display: block;
		margin:0 20px;
	}

	input[type='text']{
		//background-color: rgba(255,187,115, 0.1);
		margin:5px 0;
		height: 30px;
		border-radius: 5px;

	}
	label{
		padding:0;
	}

	textarea{
		height: 60px;
		width:200px;
		margin:5px 0;
		//background-color: rgba(255,187,115, 0.1);
		//margin-left: 20px;
		border-radius: 5px;


	}
	button[type='submit']{
		margin:0 20px 20px 20px;
		color:white;
		padding:10px;
		font-size: 20px;
		background-color: $brightButtonColor;
		border-radius: 5px;

	}

	.changeAmount{
		display: inline-block;
		width:50%;
	}

	ol{
		margin:20px;
		list-style: none;
		padding: 0;
		border-top: 1px solid $textColor;
		border-bottom: 1px solid $textColor;
		//border-radius: 5px;

		li{
			display: inline-block;
			width:35%;
			margin:5px 0;
		}
	}
}

@media screen and (max-width: 800px){
	.menu{
		width:100%;
	}

	.menu-item_change{
	    //box-sizing:border-box;
	    width:60%;

	}
	.menu-item__img_change{
		width:40%;
		align-self:flex-start;

	}

	.menu-item__description_change{
		width:45%
	}
	.ordersHistory{
		margin:0;
		padding:0;

	table, th, td, tr{
			display: block;
			border:none;
		}
	table{
		padding-left: 15%

	}

	th{
		position: absolute;
		left:-9999999px;
		top:-9999999px;
	}

	td{
		position:relative;
		padding:10px;
		padding-left: 100px;
		border:none;

	}

	td:before{
		position: absolute;
		left: 6px;
		content:attr(data-th);
	}

	.client{
		border-top:3px solid $textColor;
		width:100%
		}

 	}
 	.basket{
		width:40%;
		right: 0;
	}

	.order{
		width:70%;

		ol li{
			width:50%
		}
		.picnic{
			width:120px;
		}
	}
}

@media screen and (max-width: 550px){
	.menu-item_change{
		width:80%
	}

	.menu-item__img_change{
		width:100%;
		margin: auto;
	}
	.menu-item__description_change{
		width:100%;
		padding-left:0;
	}
	.toppings{
		width:90%;
		margin: auto;
	}
	
	.menu{
		width:80%;
	}
	.menu-item{
		width:100%;
		margin:10px auto;
	}
	.menu-item__imgDesc_change{
		margin: auto;
		flex-direction:column;
		justify-content:space-around;
		width: 90%;
		align-items:center;
	}

	.ordersHistory table{
		width:90%;
		padding-left: 0;
	}
	.basket{
		width:100%;
		right: 0;
	}

	.order{
		width:90%;

		ol li{
			width:60%
		}

		.changeAmount{
			width:30%
		}
		.picnic{
			width:100px;
		}
	}
	.login-register{
		width:90%;
	}
}




