@font-face {
  font-family: "Merriweather";
  font-weight: light, bold, regular, black;
  font-style: normal, italic;
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,900,900i&display=swap&subset=cyrillic" rel="stylesheet");
}
html,
body,
ul,
ol,
div,
aside,
main,
button,
nav,
select {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
}

ul {
  list-style: none;
}

body {
  background-color: rgba(255, 187, 115, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-bottom, .header-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 0px;
  box-sizing: border-box;
  color: #5e3101;
}

.arrow-up {
  width: 60px;
  position: fixed;
  top: 40px;
  right: 40px;
}

.logo {
  background-image: url("img/logo.png");
  width: 80px;
  height: 80px;
  background-position: 0 50%;
}

.header-top__login {
  height: 40px;
  position: relative;
  box-sizing: border-box;
  font-size: 24px;
  padding: 0 40px;
  border-radius: 5px;
  background-color: #FF5D40;
  border: 1px solid #FF8973;
  color: white;
}

.header-top__login:before {
  content: " ";
  position: absolute;
  left: -65px;
  top: -1px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-image: url("img/facebook-logo.svg");
  background-size: cover;
}

.header-top__login:after {
  content: " ";
  position: absolute;
  left: -120px;
  top: -1px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid green;
  background-image: url("img/vkontakte-logo.svg");
}

.header-bottom {
  align-items: flex-end;
}

.header-bottom__address {
  font-size: 18px;
  font-style: italic;
}

.basket {
  position: fixed;
  width: 20%;
  bottom: 0;
  right: 40px;
  height: 100px;
  padding: 20px;
  bottom: 0px;
  text-align: center;
  background-color: #FFBB73;
  border: 1px solid #FFBB73;
  border-radius: 5px;
  color: white;
  z-index: 2;
  box-sizing: border-box;
}
.basket a {
  color: #5e3101;
  font-size: 20px;
  margin: 0;
}
.basket p {
  color: #5e3101;
  font-size: 20px;
  padding-bottom: 20px;
}

#sections {
  display: flex;
  justify-content: space-around;
  width: 85%;
  flex-wrap: wrap;
  margin: auto;
  box-sizing: border-box;
  opacity: 1;
  border-bottom: 1px solid #5e3101;
}
#sections a {
  padding: 10px 20px;
  display: inline-block;
  color: #5e3101;
  text-decoration: underline;
}

.sections__item {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: auto;
  border-bottom: 1px solid #5e3101;
  align-content: flex-end;
}

.menu-section {
  font-size: 26px;
  text-align: center;
  width: 90%;
  margin: 40px auto;
  box-sizing: border-box;
  color: #5e3101;
}

.menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 40px;
  height: auto;
  width: 280px;
  border-radius: 5px;
  margin-left: 30px;
}

.icons {
  align-self: flex-end;
}

.item-edit {
  width: 20px;
}

.item-delete {
  width: 20px;
  align-self: flex-end;
}

.menu-item:last-child {
  align-self: stretch;
}

.menu-item__img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.menu-item__name {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: #5e3101;
  text-align: bottom;
}

.menu-item__price {
  color: #631903;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.menu-item__description {
  width: 90%;
  font-style: italic;
  color: #5e3101;
}
.menu-item__description p {
  margin: 0;
}

.menu-item__order {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #FF5D40;
  border: 1px solid #FF8973;
  color: white;
}

.login-register {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 20px;
  margin: auto;
  align-items: center;
  background-color: white;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid #5e3101;
  border-radius: 5px;
  color: #5e3101;
  box-sizing: border-box;
}
.login-register button {
  width: 200px;
  display: block;
  margin: 20px auto 0px auto;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #FF5D40;
  border: 1px solid #FF8973;
  color: white;
}
.login-register input[type=text] {
  border: 1px solid #5e3101;
  border-radius: 5px;
}
.login-register input[type=text], .login-register label {
  display: block;
  margin: 10px;
  width: 200px;
  height: 20px;
}

.menu-item_change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #FF5D40;
  border-radius: 5px;
  width: 45%;
  box-sizing: border-box;
  margin: 200px auto;
  padding: 30px;
  background-color: white;
  color: #5e3101;
}
.menu-item_change .addPrice {
  font-style: italic;
  opacity: 0.8;
}

.menu-item__imgDesc_change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item__img_change {
  width: 40%;
}

.menu-item__name {
  margin: 0;
}

.menu-item__description_change {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toppings p {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.topping {
  display: flex;
  flex-wrap: wrap;
}
.topping label {
  display: block;
  width: 200px;
  height: 40px;
}

.ordersHistory {
  margin: 50px auto 200px auto;
  padding: 0;
  color: #5e3101;
}
.ordersHistory .select-css {
  display: block;
  font-size: 14px;
  color: #5e3101;
  padding: 5px 10px 5px 0;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #5e3101;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 187, 115, 0.1);
  background-image: url("img/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 2% top 50%;
  background-size: 0.65em auto, 100%;
}
.ordersHistory .select-css::-ms-expand {
  display: none;
}
.ordersHistory .select-css:hover {
  border-color: #5e3101;
}
.ordersHistory .select-css:focus {
  border-color: #5e3101;
  color: #5e3101;
  outline: none;
}
.ordersHistory .select-css option {
  font-weight: normal;
}
.ordersHistory td {
  padding: 10px;
}
.ordersHistory td, .ordersHistory th {
  border: 1px solid #5e3101;
  padding-left: 20px;
  box-sizing: border-box;
}
.ordersHistory table {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  border-spacing: 0;
  border-collapse: separate;
  border: 2px solid #5e3101;
  border-radius: 5px;
  box-sizing: border-box;
}
.ordersHistory table caption {
  align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.personal {
  color: #5e3101;
}
.personal table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #5e3101;
  border-radius: 5px;
  width: 80%;
  box-sizing: border-box;
  margin: auto;
}
.personal td {
  border: 1px solid #5e3101;
  padding: 10px;
}
.personal caption {
  align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.order {
  color: #5e3101;
  margin: 100px auto;
  width: 50%;
  border: 2px solid #5e3101;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}
.order .picnic {
  width: 140px;
  position: absolute;
  top: 40px;
  right: 40px;
}
.order h3 {
  margin: 20px;
}
.order h1 {
  text-align: left;
  margin-left: 20px;
}
.order label, .order p, .order input[type=text], .order textarea {
  display: block;
  margin: 0 20px;
}
.order input[type=text] {
  margin: 5px 0;
  height: 30px;
  border-radius: 5px;
}
.order label {
  padding: 0;
}
.order textarea {
  height: 60px;
  width: 200px;
  margin: 5px 0;
  border-radius: 5px;
}
.order button[type=submit] {
  margin: 0 20px 20px 20px;
  color: white;
  padding: 10px;
  font-size: 20px;
  background-color: #FF5D40;
  border-radius: 5px;
}
.order .changeAmount {
  display: inline-block;
  width: 50%;
}
.order ol {
  margin: 20px;
  list-style: none;
  padding: 0;
  border-top: 1px solid #5e3101;
  border-bottom: 1px solid #5e3101;
}
.order ol li {
  display: inline-block;
  width: 35%;
  margin: 5px 0;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
  }

  .menu-item_change {
    width: 60%;
  }

  .menu-item__img_change {
    width: 40%;
    align-self: flex-start;
  }

  .menu-item__description_change {
    width: 45%;
  }

  .ordersHistory {
    margin: 0;
    padding: 0;
  }
  .ordersHistory table, .ordersHistory th, .ordersHistory td, .ordersHistory tr {
    display: block;
    border: none;
  }
  .ordersHistory table {
    padding-left: 15%;
  }
  .ordersHistory th {
    position: absolute;
    left: -9999999px;
    top: -9999999px;
  }
  .ordersHistory td {
    position: relative;
    padding: 10px;
    padding-left: 100px;
    border: none;
  }
  .ordersHistory td:before {
    position: absolute;
    left: 6px;
    content: attr(data-th);
  }
  .ordersHistory .client {
    border-top: 3px solid #5e3101;
    width: 100%;
  }

  .basket {
    width: 40%;
    right: 0;
  }

  .order {
    width: 70%;
  }
  .order ol li {
    width: 50%;
  }
  .order .picnic {
    width: 120px;
  }
}
@media screen and (max-width: 550px) {
  .menu-item_change {
    width: 80%;
  }

  .menu-item__img_change {
    width: 100%;
    margin: auto;
  }

  .menu-item__description_change {
    width: 100%;
    padding-left: 0;
  }

  .toppings {
    width: 90%;
    margin: auto;
  }

  .menu {
    width: 80%;
  }

  .menu-item {
    width: 100%;
    margin: 10px auto;
  }

  .menu-item__imgDesc_change {
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    align-items: center;
  }

  .ordersHistory table {
    width: 90%;
    padding-left: 0;
  }

  .basket {
    width: 100%;
    right: 0;
  }

  .order {
    width: 90%;
  }
  .order ol li {
    width: 60%;
  }
  .order .changeAmount {
    width: 30%;
  }
  .order .picnic {
    width: 100px;
  }

  .login-register {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
